body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/main/img/background.png');
    background-size: cover;
    
}
.container{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    border: 1px solid red;
    background:rgb(53, 34, 34);
    

}
.container header{
    color: #b2b2b2;
    display: flex; /*um na frente do outro*/
    align-items: center;
    justify-content: space-between;/*espaço entre eles*/
    
}
header h2 {
    font-size: 1.6rem;
}
header .column {
    display: flex;
    align-items: center;
}
header.column span{
    font-weight: 500;
    margin: 15px;
    font-size: 1.19rem;
}
.volume-slider input{
    accent-color: #fff;
}
.keys-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor:pointer;
    position: relative;
    
}
.keys-check input::before{/*chekbox quando não marcado*/
    content: "";
    height: 23px;
    width: 22px;
    background-color: #8c8c8c;
    top: 50%;
    left: 0.3rem;    
    border-radius: inherit; /*inhereit erda o radius do pai*/
    position:absolute;
    transform: translateY(-50%);
    transition: all 0.6s ease;
}
.keys-check input:checked::before{ /*chekbox quando marcado*/
        left: 2.1rem;
        background-color:white;
}
.piano-keys{
    display: flex;
    margin-top: 40px;
}
.piano-keys .key{
    cursor: pointer;
    list-style: none; /*retira os ponto */
    color: #a2a2a2;
    user-select: none;/*usuario não consegue clicar arrastar p'selecionar*/
    position: relative;
    text-transform: uppercase;
}
.piano-keys .white{
    width: 70px;
    height: 230px;
    border: 1px solid black;
    border-radius: 8px;
    background: linear-gradient(#fff 96%,#EEE 4%);
    
    
}
.piano-keys .black{
    width: 44px;
    height: 140px;
    z-index: 1;             /*sobreproem*/
    margin: 0 -22px 0 -22px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333,#000);
}
.piano-keys span{
    position: absolute;
    bottom: 5%; /*usado para posição absolute move cima e baixo*/
    width: 100%;
    text-align: center; /*centraliza as letra*/
    font-size: 0.7rem;
}

.piano-keys .white.active{ /*active é ao ser precionado*/
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom #fff 0% , #eee 100%);
}
.piano-keys .black.active{ /*active é ao ser precionado*/
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
    background: linear-gradient(to bottom #000 , #434343);
}

.piano-keys .key.hide span{
    display: none;
}
.me{
    color: white;   
    position: relative;
    right: -595px;
    top: 20px;
}
